html {
  box-sizing: border-box;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
  box-sizing: inhert;
}

body {
  background-color: #EFEFEF;
  margin: 0;
  padding: 0;
}
